@media screen and (max-width: 40rem) {
  main {
    flex-direction: column;
    height: unset;
  }
  nav img {
    max-width: 60px;
    border-radius: 50%;
  }
  nav {
    height: 100vh;
  }

  #grid {
    padding: 30px;
  }
  #grid img {
    align-self: center;
    padding: 0 0px;
  }
  body {
    height: unset;
    overflow: visible;
  }
}
