@media screen and (max-width: 40rem) {
  main {
    flex-direction: column;
    height: unset;
    border-radius: 0;
  }
  nav img {
    max-width: 60px !important;
    border-radius: 50% !important;
  }
  nav {
    height: 100vh;
  }

  #grid {
    padding: 30px;
  }
  #grid h2 {
    font-size: 1.2em;
    margin-left: 2rem;
  }
  #grid img {
    align-self: center;
    padding: 0 0px;
  }
  body {
    height: unset;
    overflow: visible;
  }
}
