@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --sidebar-bg-color: black;
  --main-bg-color: rgb(255, 255, 255);
  --main-principal-foreground-color: black;
  --main-secondary-foreground-color: white;
  --link-foreground-color: #6505ff;
  --hovering-color: rgb(225, 224, 224);
}

body {
  color: var(--main-principal-foreground-color);
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  overflow: hidden;
}

main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background: var(--main-bg-color);
}

main nav {
  resize: horizontal;
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  background: var(--sidebar-bg-color);
  color: var(--main-secondary-foreground-color);
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: clamp(0.9rem, 2vw, 1rem);
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
  padding: 2rem;
}

main nav > * {
  border-bottom: 1px solid white;
  margin-bottom: 2rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

main nav img {
  max-width: 80px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  border-radius: 30%;
}

main #rightcv {
  overflow-y: scroll;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #rightcv section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

main #rightcv fieldset {
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}

main #rightcv fieldset:hover {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}

ul {
  margin-left: 1rem;
}

h1 {
  font-weight: 500;
}

a {
  color: var(--link-foreground-color);
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

a:hover {
  -webkit-filter: brightness(1.9);
          filter: brightness(1.9);
}

article {
  margin-bottom: 2rem;
}

li {
  margin: 1rem 0;
}

li#voyages {
  position: relative;
  cursor: pointer;
}

li#voyages:after {
  content: "";
  border-radius: 8px;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
  background: url(./map.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 200px;
  height: 20px;
}

li#voyages:before {
  content: "";
  height: 20px;
  width: 20px;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  background: #535363;
  position: absolute;
  -webkit-clip-path: polygon(50% 46%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 46%, 0% 100%, 100% 100%);
  left: 20px;
  top: 0;
  opacity: 0;
}

li#voyages:hover {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

li#voyages:hover:after {
  opacity: 1;
  top: calc(100% + 9px);
  height: 100px;
}

li#voyages:hover:before {
  opacity: 1;
  top: 50%;
}

legend {
  margin-left: 1rem;
}

footer {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.845);
  color: var(--main-secondary-foreground-color);
  width: 100%;
  text-align: center;
}

fieldset:hover {
  background: var(--hovering-color);
}

header {
  background: black;
  color: var(--main-secondary-foreground-color);
}

#grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  padding: 5px;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(2, 2, 2, 0.461);
          box-shadow: 3px 3px 3px 0px rgba(2, 2, 2, 0.461);
  margin: auto;
  margin-bottom: 2rem;
  overflow: hidden;
}

#grid:hover {
  position: relative;
  overflow: visible;
}

#grid h2 {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  font-size: 1.5em;
  color: white;
  border-radius: 2px;
  padding: 15px 0;
}

i {
  padding-right: 10px;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

.skills:nth-of-type(2) :nth-of-type(1) {
  background: #13aba0;
}

.skills:nth-of-type(3) :nth-of-type(1) {
  background: #4fa03e;
}

.skills:nth-of-type(1) :nth-of-type(1) {
  background: #b06af2;
}

.skills > *:not(label) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.skills label {
  padding: 3px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

input[type="range"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  overflow: visible;
  -webkit-transition: background 1s ease-out;
  transition: background 1s ease-out;
}

input[type="range"]:hover {
  background-color: var(--link-foreground-color) !important;
}

#links {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

#links a {
  color: white;
}

#links a:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: var(--link-foreground-color);
}

#links a:hover i {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
/*# sourceMappingURL=style.css.map */